body{
  background-color: aquamarine;
}

ul{
  display: flex;
  flex-wrap: wrap;
}

li > img{
  border-radius: 50%;
  margin: 5px;
}

li{
  list-style: none;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 5px;
  background-color: coral;
  margin: 10px;
  width: 300px;
}